:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --bg-page: #f4f2fa;
  --border: #e5e4e7;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.08) 0 4px 12px -2px, rgba(0, 0, 0, 0.04) 0 2px 4px -1px;
  --radius: 12px;

  --sans: 'Segoe UI', system-ui, Roboto, sans-serif;
  --heading: 'Segoe UI', system-ui, Roboto, sans-serif;

  font: 16px/145% var(--sans);
  color-scheme: light dark;
  color: var(--text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #1c1d24;
    --bg-page: #14151a;
    --border: #2e303a;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 4px 12px -2px, rgba(0, 0, 0, 0.25) 0 2px 4px -1px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg-page);
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}
